<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084036232723-n3tigmlq946cmailuvlavu9kdbqptlar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084036232723-n3tigmlq946cmailuvlavu9kdbqptlar</string>
	<key>API_KEY</key>
	<string>AIzaSyCavJStPCr14QSv6b-DPOrL69LXlIiG5Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>1084036232723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectFutter</string>
	<key>PROJECT_ID</key>
	<string>fir-authproject-223f1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authproject-223f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084036232723:ios:c2889cd35f650d544b71e6</string>
</dict>
</plist>